nodered_flow_temperature.json
[
    {
        "id": "26c33e4a7eb1d2f9",
        "type": "tab",
        "label": "Temperature Chart",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d2b1202a33c6adae",
        "type": "change",
        "z": "26c33e4a7eb1d2f9",
        "name": "Extract temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature",
                "tot": "msg"
            }
        ],
        "x": 360,
        "y": 100,
        "wires": [
            [
                "040d4155a3ce2411"
            ]
        ]
    },
    {
        "id": "040d4155a3ce2411",
        "type": "ui_chart",
        "z": "26c33e4a7eb1d2f9",
        "name": "Temperature Line Chart",
        "group": "0adf088a2474d6c0",
        "order": 1,
        "width": "6",
        "height": "6",
        "label": "Temperature (°C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "MM:SS",
        "interpolate": "linear",
        "nodata": "Waiting for data...",
        "dot": false,
        "ymin": "24",
        "ymax": "25",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 600,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "1bc6a2bcd203c507",
        "type": "mqtt in",
        "z": "26c33e4a7eb1d2f9",
        "name": "MQTT In (Sensor Data)",
        "topic": "b31ot-manoj/iot/env/telemetry",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c2e1ffb376f40fad",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 100,
        "wires": [
            [
                "d2b1202a33c6adae",
                "c2869a16d4e53329",
                "535e0b1915d69b43"
            ]
        ]
    },
    {
        "id": "c2869a16d4e53329",
        "type": "change",
        "z": "26c33e4a7eb1d2f9",
        "name": "Extract Humidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 180,
        "wires": [
            [
                "0a568329d9fe417a"
            ]
        ]
    },
    {
        "id": "0a568329d9fe417a",
        "type": "ui_chart",
        "z": "26c33e4a7eb1d2f9",
        "name": "",
        "group": "0adf088a2474d6c0",
        "order": 1,
        "width": "6",
        "height": "6",
        "label": "Humidity Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "MM:SS",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "70",
        "ymax": "80",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 580,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "feeca0bbe9688d82",
        "type": "template",
        "z": "26c33e4a7eb1d2f9",
        "name": "Alert message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Alert: Critical Value Detected {{temp}}°C",
        "output": "str",
        "x": 660,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "535e0b1915d69b43",
        "type": "switch",
        "z": "26c33e4a7eb1d2f9",
        "name": "Temp > threshold",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "24.6",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 370,
        "y": 320,
        "wires": [
            [
                "feeca0bbe9688d82"
            ]
        ]
    },
    {
        "id": "0adf088a2474d6c0",
        "type": "ui_group",
        "name": "Temperature Monitor",
        "tab": "45709ebc2bd6937a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c2e1ffb376f40fad",
        "type": "mqtt-broker",
        "name": "",
        "broker": "2bcacdc6c78e4b73a575478294c5953b.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "7db2e23745d586eb",
        "clientid": "nodeRedClient",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "45709ebc2bd6937a",
        "type": "ui_tab",
        "name": "ESP32 Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7db2e23745d586eb",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "834239ed45cb7a09",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]